.title-carousel__title-image
{
	position: relative;
	background: rgba(40, 40, 40, 0) url(../../img/template.jpg) no-repeat center center / cover;
	height: 170px; 
	width: 110px;
	border-radius: 5px;
	box-shadow: inset -0px -20px 20px rgba(0, 0, 0, 0.9);
}