.page
{
	margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Trebuchet, Helvetica;
}


.page_background-color_theme-1
{
	background: #141414;
	color: #ddd;
}

.page_m-menu-opened
{
	overflow: hidden;
}

