.main__intro
{
	display: flex;
	flex-direction: column;
	position: relative;
	background: rgba(0, 0, 0, .6) url(../../img/background-info.jpg) repeat center center / cover;
	min-height: 350px;
	width: 100%;
}


.main__intro:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	z-index: 1;
}